.prose h1 {
    font-size: 2.25em; /* 36px */
    font-weight: 800; /* Extra bold */
    line-height: 1.25;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.prose h2 {
    font-size: 1.875em; /* 30px */
    font-weight: 800; /* Extra bold */
    line-height: 1.3;
    margin-top: 1.4em;
    margin-bottom: 0.4em;
}

.prose h3 {
    font-size: 1.5em; /* 24px */
    font-weight: 700; /* Bold */
    line-height: 1.375;
    margin-top: 1.3em;
    margin-bottom: 0.3em;
}

.prose h4 {
    font-size: 1.25em; /* 20px */
    font-weight: 700; /* Bold */
    line-height: 1.5;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
}

.prose h5 {
    font-size: 1.125em; /* 18px */
    font-weight: 600; /* Semi bold */
    line-height: 1.6;
    margin-top: 1.1em;
    margin-bottom: 0.1em;
}

.prose h6 {
    font-size: 1em; /* 16px */
    font-weight: 600; /* Semi bold */
    line-height: 1.7;
    margin-top: 1em;
    margin-bottom: 0em;
}
